.list-icon{
    height: 9vh;
    width: 4vw;
}

.content {
    padding-top: 70px;
    padding-left: 90px;
}

.makeStyles-drawerClose-7{
    .content{
        padding-top: 70px + 240px;
        padding-left: 90px + 240px;
    }
}