.card_details{
    display: flex;    
}   

.example{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 1rem;
    width: 25em;
    padding: 1em;
    margin-right: 3em;
    &_text{
        font-size: 2rem;
        background: #3f50b5;
        color: #fff;
    }
}

.code{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 1rem;
    width: 45em;
    padding: 1em;
    &_text{
        font-size: 2rem;
        margin-bottom: .5em;
        background: #3f50b5;
        color: #fff;
    }
    &_copy_btn {
        background: #fff;
        float: right;
        border: none;
    }
    &_component{
        font-style: italic;
        font-weight: bold;
        font-family: "Courier New", monospace;
        white-space: initial;
    }
}

@media(max-width: 600px){
    .card_details{
        flex-direction: column;
        width: 600px;
        .code{
            width: 25em;
            word-wrap: break-word;
        }
    }

}